body {
    background-color: #daede7;
}

.main,
.header {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}



.main__title {
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #4d6568;
}

.main__container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

// .rating__item:checked,
// .rating__item:checked~.rating__label {
//     color: #ffd300;
// }