@font-face {
  font-family: 'Suprema-semibold', sans-serif;
  src: url("../fonts/Suprema\ SemiBold.ttf") format('truetype');

}

@font-face {
  font-family: 'Suprema-rerular', sans-serif;
  src: url("../fonts/Suprema\ Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-semibold', sans-serif;
  src: url("../fonts/Lato-Semibold.ttf") format('truetype');

}

@font-face {
  font-family: 'Lato-bold', sans-serif;
  src: url("../fonts/Lato-Bold.ttf") format('truetype');

}