@import "normalize.scss";
@import "fonts.scss";


.main {
    display: flex;

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 100vh;
}

.main__aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: calc(15% - 2px);
    height: 100%;

    border-right: 2px solid #EBEBEB;
}

.main__section {
    width: 85%;
    padding-top: 100px;
    padding-left: 40px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;

    width: 85%;
    height: 90px;
}

.header__title {
    font-family: 'Suprema-semibold', sans-serif;
    font-size: 40px;
    line-height: 53px;
    font-weight: 600;
    margin: 0px;
    color: #404040;
}

.main__logo {
    width: 98%;
    height: auto;
    max-width: 135px;

    margin-top: 25px;
}

.aside__img-container {
    margin-bottom: 35px;
}

.aside__column {
    margin-bottom: 100%;
}

.aside__button {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    width: 165px;
    height: 39px;
    margin-bottom: 20px;
    padding-left: 20px;

    font-family: 'Lato-bold', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    color: #C7C7C7;
}

.aside-button__icon {
    margin-right: 10px;
}

.aside__button-active {
    background-color: #F0F7FF;
    border-radius: 4px;
    color: #197BBD;

}

.shadow-block {
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 28px;
}

.left-column__cards-block {
    padding: 25px;
    padding-bottom: 40px;
    width: 50%;
    max-width: 596px;
}

.section__subtitle {
    font-family: 'Suprema-semibold', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 22;
    line-height: 25px;
    color: #404040;
}

.left-column__card-container {
    display: flex;
    align-items: center;
}

.card-container__arrow {
    height: 20px;
}

// .left-column__card {
//     height: fit-content;
// }

.card-container__card-img {
    margin: 0 10px;
}

.cards-subtitle {
    margin-left: 20px;
    margin-bottom: 20px;
}