.main__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #e2dfde;
}

.input__button {
    width: 90%;
    margin: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;

    background-color: #eda143;
    color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.input__textarea {
    height: 80px;
    width: 95%;
    margin: 15px;

    display: flex;
    justify-content: center;
}

.textarea {
    height: 80px;
    width: 96%;
    border: 1px solid #e2dfde;
    padding: 10px 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
