@media screen and (min-width: 1024px) {

    .first-page__main {
        display: flex;
        flex-direction: column;

        background-image: url(/home/assets/images/pic.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        background-position-y: top;

        margin-bottom: 20px;
    }

    .first-page__image {
        display: none;
    }


    .section__button {
        font-size: 35px;
    }

    .section__content {
        width: 40%;
        margin-top: 76px;
        margin-left: 7vw;
    }

    .section__text {
        font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 20px;
    }

    .section__button {
        width: 270px;
        height: 84px;
        border-radius: 40px;

        margin-top: 20px;
    }
}

/*title*/

.title {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
    hyphens: initial;
}



@media screen and (max-width: 1023px) {
    .first-page__main {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
    }

    .first-page__image {
        max-width: 100%;
    }

    .section__button {
        font-size: 20px;
    }

    .button__image {
        max-width: 30px;
    }

    .section__content {

        margin-top: 76px;
        margin-left: 7vw;
    }

    .section__text {
        font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
        font-weight: 300;
        font-size: 20px;
    }

    .section__button {
        width: 170px;
        height: 54px;
        border-radius: 40px;

        margin-top: 20px;
    }


}

@media screen and (max-width: 767px) {

    .section__title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 359px) {

    .section__title {
        font-size: 1.5rem;
    }

}